.conteneur{
    background-color: rgb(218, 113, 113);
    padding: 22px; 
    margin-top: 80px
}
.conteneur1{
    background-color: rgba(240, 103, 23, 0.678);
    padding-bottom: 118px;
}
h2
{
    margin-left: 115px
}
p{
    margin-left: 34px;
    padding-top: 5rem;
}
.conteneur2{
    background-color: rgb(218, 113, 113);
    padding: 22px; 
    margin-top: 80px
}
.banner3
{
    margin-left: 1068px;
}
